@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

:root {
  --body-background-color: #f3f3f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  min-height: 20px;
  margin-top: auto;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 5px 0;
}

footer a {
  margin-left: 5px;
  text-decoration: none;
}

.container {
  border-bottom: 1px solid #ccc;
}

#floater {
  background-color: #e5e5e5;
  position: fixed;
  top: 50%;
  right: -125px;
  border-radius: 100px;
  height: 40px;
  width: 150px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  transition: right 1s;
  font-size: 0.8rem;
}

#floater:hover {
  right: 0;
}

#live-count {
  padding: 5px;
}

/* Editor css */
.ql-container.ql-snow {
  border: none !important;
}
.ql-container.ql-snow .ql-editor {
  min-height: calc(100vh - 75px);
}

.ql-toolbar.ql-snow {
  position: sticky;
  top: 0;
  background-color: var(--body-background-color);
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
